.jumbotron {
	
	background-color : salmon !important ;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  color: white;
}

.img {
	background-repeat: repeat-y;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

.title {
	height: 100px ;
}